body {
	background: image-url("BG.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.alert {
position:absolute;
z-index:1;
width:200px;

}